<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detail</title>
    <link rel="shortcut icon" href="icons/logo_t1.png" />
    <link rel="stylesheet" href="/css/detail.css" />
  </head>
  <body>
    <%= detailUser[0].id%> <%= detailUser[0].firstName%>
    <%=detailUser[0].lastName%> <%= detailUser[0].address%>
    <h1>Hello</h1>
  </body>
</html>
